DATABASE_URL="postgresql://invoice:invoice_dev@localhost:5432/invoice_db"
AWS_REGION="eu-west-3"
SQS_ENDPOINT="http://localhost:9324"
SQS_PDF_QUEUE_URL="http://localhost:9324/000000000000/pdf-generation"
SQS_PA_QUEUE_URL="http://localhost:9324/000000000000/pa-submission"
SQS_EMAIL_QUEUE_URL="http://localhost:9324/000000000000/email-notification"
SQS_EREPORTING_QUEUE_URL="http://localhost:9324/000000000000/e-reporting"
COGNITO_USER_POOL_ID="eu-west-3_placeholder"
COGNITO_CLIENT_ID="placeholder"
PORT=3000
